<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AKS Details</title>
</head>
<body>
    <h1>AKS Details</h1>
    <ul>
        <li><strong>Resource Group Name:</strong> {{ rg_name }}</li>
        <li><strong>Region:</strong> {{ region }}</li>
        <li><strong>Availability Zones:</strong> {{ availability_zones }}</li>
        <li><strong>AKS Name:</strong> {{ aks_name }}</li>
        <li><strong>AKS Version:</strong> {{ aks_version }}</li>
        <li><strong>Node Count:</strong> {{ node_count }}</li>
    </ul>
</body>
</html>
