<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EKS Details</title>
</head>
<body>
    <h1>EKS Details</h1>
    <ul>
        <li><strong>EKS Name:</strong> {{ eks_name }}</li>
        <li><strong>Region:</strong> {{ region }}</li>
        <li><strong>Instance Type:</strong> {{ instance_type }}</li>
        <li><strong>EKS Version:</strong> {{ eks_version }}</li>
        <li><strong>Desired Size:</strong> {{ desired_size }}</li>
        <li><strong>Max Size:</strong> {{ max_size }}</li>
        <li><strong>Min Size:</strong> {{ min_size }}</li>
        <li><strong>Cluster Type:</strong> {{ cluster_type }}</li>
    </ul>
</body>
</html>
