<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GKE Details</title>
</head>
<body>
    <h1>GKE Details</h1>
    <ul>
        <li><strong>Project:</strong> {{ project }}</li>
        <li><strong>Region:</strong> {{ region }}</li>
        <li><strong>GKE Name:</strong> {{ gke_name }}</li>
        <li><strong>GKE Version:</strong> {{ gke_version }}</li>
        <li><strong>Node Count:</strong> {{ node_count }}</li>
        <li><strong>Cluster Type:</strong> {{ cluster_type }}</li>
        <li><strong>VM Name:</strong> {{ vm_name }}</li>
        <li><strong>VM Password:</strong> {{ vm_pass }}</li>
    </ul>
</body>
</html>
