<!DOCTYPE html>
<html>
<head>
    <title>Trigger GitLab Pipeline</title>
</head>
<body>
    <h1>Enter your name:</h1>
    <form method="POST">
        <input type="text" name="name" placeholder="Your Name">
        <button type="submit">Submit</button>
    </form>
    {% if greeting %}
        <p>{{ greeting }}</p>
    {% endif %}
    {% if pipeline_status %}
        <p>{{ pipeline_status }}</p>
    {% endif %}
</body>
</html>
